
[parmsAfghaniGn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=FIRST
anchorFactor=0.85
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsAfghaniSn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.9
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsAngloGn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsAngloSn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsArabicGn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=FIRST
anchorFactor=0.9
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsArabicSn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.9
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsChineseGn]
nameThreshold=0.7
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=LOWEST
missingStemFactor=0.7
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsChineseSn]
nameThreshold=0.7
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.75
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.7
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsAmbiguousGn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsAmbiguousSn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsEuropeanGn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.9
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsEuropeanSn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.75
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsFarsiGn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=FIRST
anchorFactor=0.9
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsFarsiSn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.9
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsFrenchGn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsFrenchSn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=LAST
anchorFactor=0.85
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsGermanGn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsGermanSn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=LAST
anchorFactor=0.85
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsHanGn]
nameThreshold=0.7
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=LOWEST
missingStemFactor=0.7
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsHanSn]
nameThreshold=0.7
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.75
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.7
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsHispanicGn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.9
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsHispanicSn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.8
anchorType=FIRST
anchorFactor=0.7
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsIndianGn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=1
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.9
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsIndianSn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.9
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsIndonesianGn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsIndonesianSn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsJapaneseGn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.9
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsJapaneseSn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsKoreanGn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.85
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsKoreanSn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.75
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsPakistaniGn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=FIRST
anchorFactor=0.85
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsPakistaniSn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.9
anchorType=LAST
anchorFactor=0.85
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsPolishGn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsPolishSn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsPortugueseGn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsPortugueseSn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsRussianGn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.9
anchorType=FIRST
anchorFactor=0.8
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsRussianSn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsSouthwestasianGn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=FIRST
anchorFactor=0.9
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsSouthwestasianSn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.9
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsThaiGn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.9
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsThaiSn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.75
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsTurkishSn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=FIRST
anchorFactor=0.85
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0

[parmsTurkishGn]
nameThreshold=0.65
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=FIRST
anchorFactor=0.85
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0

[parmsVietnameseGn]
nameThreshold=0.7
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.85
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=LOWEST
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsVietnameseSn]
nameThreshold=0.7
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.8
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsYorubanGn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0


[parmsYorubanSn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.97
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.93
regularizeScoreMax=0.98
compressedScoreFactor=1.0




[parmsAfghaniFn]
nameThreshold=0.65
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsAngloFn]
nameThreshold=0.65
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=FIRST
anchorFactor=0.97
doCompressedScore=0
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.95
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsArabicFn]
nameThreshold=0.65
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=0.97
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsChineseFn]
nameThreshold=0.7
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.7
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsAmbiguousFn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=0
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsEuropeanFn]
nameThreshold=0.65
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=0
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsFarsiFn]
nameThreshold=0.65
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsFrenchFn]
nameThreshold=0.65
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=0.85
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsGermanFn]
nameThreshold=0.65
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=0.85
doCompressedScore=0
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsHanFn]
nameThreshold=0.7
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.7
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsHispanicFn]
nameThreshold=0.6
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=0.7
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsIndianFn]
nameThreshold=0.6
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.40
nameUnknownScore=0.40
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsIndonesianFn]
nameThreshold=0.6
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsJapaneseFn]
nameThreshold=0.6
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsKoreanFn]
nameThreshold=0.65
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.75
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsPakistaniFn]
nameThreshold=0.65
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=0.85
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsPolishFn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsPortugueseFn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsRussianFn]
nameThreshold=0.65
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsSouthwestasianFn]
nameThreshold=0.65
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsThaiFn]
nameThreshold=0.6
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98

[parmsTurkishFn]
nameThreshold=0.6
threshold=0.49
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsVietnameseFn]
nameThreshold=0.7
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98


[parmsYorubanFn]
nameThreshold=0.6
threshold=0.60
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=0
initialOnTokenScore=0.85
initialOnInitialScore=0.85
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.94
regularizeScoreMax=0.98
compressedScoreFactor=0.98




[parmsAmbiguousOn]
nameThreshold=0.65
threshold=0.65
weight=1
scoreType=ED
leftBias=0
noNameScore=0.4
nameUnknownScore=0.4
matchVariants=1
matchInitials=1
initialOnTokenScore=0.85
initialOnInitialScore=1
oopsFactor=0.95
anchorType=NONE
anchorFactor=1
doCompressedScore=1
compressedScoreMax=0.95
scoreMode=AVERAGE
missingStemFactor=0.97
regularizeScoreMax=0.98
compressedScoreFactor=0.93

